@import "tailwindcss";

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}
@utility flex-around {
  @apply flex justify-around items-center;
}

@utility flex-evenly {
  @apply flex justify-evenly items-center;
}

@utility nav-links {
  @apply flex gap-[5px] items-center text-[14px] text-white;
}

@utility labels {
  @apply text-[13px] font-bold text-[#888];
}

@utility setting {
  @apply w-full border-b border-b-[#000] flex-between sm:px-[20px] px-[10px] sm:h-[60px] h-[40px];
}

@utility detail {
  @apply flex gap-[10px] items-center text-[12px] text-[#888];
}

@utility label {
  @apply text-[14px] uppercase font-bold text-[#38664470];
}

@utility input {
  @apply w-full h-[35px] text-[14px] p-[5px] rounded-[5px] inset-shadow-sm inset-shadow-[#38664440] outline-0 bg-white;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}
